@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
/* Header */
.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  background: rgb(241, 241, 243);
  justify-content: space-evenly;
}
.menu {
  width: 700px;
}
.menu_ul {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .menu_ul {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .menu_ul {
    display: flex;
    flex-direction: column;
  }
}

.menu_ul a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: rgb(134, 137, 150);
}
.menu_ul li {
  list-style: none;
}
#logo img {
  width: 130px;
}
.menu_ul a:hover {
  color: black;
}

/* ___________________________ */

/* Main */
.first_pic img {
  max-width: 100%;
  height: auto;
}

main {
  width: 1066px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.first_text {
  margin: 0 auto;
  width: 933px;
  margin-top: 100px;
  text-align: center;
  font-size: 14px;
  color: rgb(98, 103, 119);
  font-weight: bold;
}
@media screen and (max-width: 992px) {
  .first_text {
    /* text-align: center; */
    /* margin-left: 200px; */
    width: 200px;
  }
 }
@media screen and (max-width: 768px) {
    .first_text {
      display: ;
      align-items: center;
      /* margin-left: 200px; */
      /* width: 200px; */
     margin-left: 20px;}
    }
.container {
  width: 1066px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section {
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 992px) {
  .section {
    flex-direction: column;
    align-items: center;
    
  }
}
@media screen and (max-width: 768px) {
  .section {    
    align-items: flex-start;
  }
}

.pic img {
  border-radius: 10px;
  max-width: 450px;
}

.Apartaments {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 500px;
  font-weight: bold;
}

.title {
  font-size: 26px;
  font-weight: bold;
}
.info {
  font-size: 16px;
}
.button {
  background-color: rgb(255, 208, 120);
  border-radius: 15px;
  border: 1px;
  width: 100px;
  height: 35px;
  font-weight: bold;
  font-size: 12px;
  /* align-self:flex-start; */
  /* flex-grow: 1; */
}
.button:hover {
  opacity: 0.7s;
  background-color: rgba(255, 208, 120, 0.582);
}
.second {
  flex-direction: row-reverse;
}
@media screen and (max-width: 992px) {
  .second {
    flex-direction: column;
  }
} 
/* ______________________________ */

/* footer */
.footer {
  /* margin: 0 auto; */
  /* margin-left: -200px; */
  width: 1333px;
  height: 250px;
  background: rgb(241, 241, 243);
  /* margin-top: 100px; */
}
.content {
  /* width: 1066px; */

  /* margin: 0 auto; */
  /* height: auto; */
  display: flex;
  justify-content: space-between;
}
.logo_1 {
  /* width: 1066px; */
  margin-left: 130px;
  /* text-align: left; */

  /* display: flex; */
  /* flex-direction: column; */
  position: relative;
  /* align-items: flex-start; */
}
.logo_1 img {
  padding-top: 35px;
  padding-left: 30px;
  width: 130px;
}
@media screen and (max-width: 992px) {
  .logo_1{
margin-left: 0;
  }
  
}
.logo_decor {
  margin-left: 30px;
}
.table {
  position: absolute;
  display: flex;
  left: 95px;
  padding-left: 35px;
}
.table ul {
  list-style: none;
}
@media screen and (max-width: 992px) {
  .table{
    
    left: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .hide{
    display: flex;
    display: none;
  }
}


.fa {
  padding: 10px;
  font-size: px;

  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  list-style: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  margin-left: 1000px;
  background: rgb(135, 139, 152);
  color: white;
}
.fa-twitter {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-linkedin {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-instagram {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-youtube {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-pinterest {
  background: rgb(135, 139, 152);
  color: white;
}
.© {
  margin-left: 950px;
  word-spacing: 4px;
}
@media screen and (max-width:992px)  {
  .fa-facebook{
    margin-left: 500px;
}
}
@media screen and (max-width:992px)  {
  .©{
    margin-left: 500px;
}
}
