@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(241, 241, 243);
  justify-content: space-evenly;
}
@media screen and (max-width: 992px) {
  .header {
    width: 100%;
    margin: 0 auto;
  }
}
.menu {
  width: 700px;
}
.menu_ul {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .menu_ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .menu_ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.menu_ul a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: rgb(134, 137, 150);
}
.menu_ul li {
  list-style: none;
}
#logo img {
  width: 130px;
}
.menu_ul a:hover {
  color: black;
}

/* ___________________________ */

/* Main */
.first_pic {
  width: 100%;
}
.first_pic img {
  max-width: 100%;
}

.main {
  width: 1066px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.container {
  width: 1066px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.first_text {
  margin: 0 auto;
  padding: 0 50px;
  line-height: 2;
  margin-top: 100px;
  text-align: center;
  font-size: 14px;
  color: rgb(98, 103, 119);
  font-weight: bold;
}
@media screen and (max-width: 992px) {
  .first_text {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .first_text {
    align-items: center;
    margin-left: 20px;
  }
}
@media screen and (max-width: 992px) {
  .main {
    align-items: center;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .main {
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
    width: 100%;
     
   
  }
}




@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    margin: 0 auto;
  }
}
.main :nth-child(4) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 992px) {
  .main :nth-child(4) {
    /*harc*/
    flex-direction: column;
  }
}
.section {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .section {
    flex-direction: column;
    
    }
    .info{
      padding: 20px;
    }
}
@media screen and (max-width: 768px) {
  .section {
    flex-direction: column;   
  };
  
}

.pic img {
  border-radius: 10px;
  max-width: 450px;
}

.Apartaments {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 500px;
  font-weight: bold;
}

.title {
  font-size: 26px;
  font-weight: bold;
}
.info {
  font-size: 16px;
}
.button {
  background-color: rgb(255, 208, 120);
  border-radius: 15px;
  border: 1px;
  width: 100px;
  height: 35px;
  font-weight: bold;
  font-size: 12px;
}
.button:hover {
  opacity: 0.7s;
  background-color: rgba(255, 208, 120, 0.582);
}
/* ______________________________ */

/* footer */
.footer {
  width: 100%;
  height: 250px;
  background: rgb(241, 241, 243);
}

@media screen and (max-width: 992px) {
  .footer {
    width: 100%;
    margin: 0 auto;
    padding: 25px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
    margin: 0 auto;
  }
}
.content {
  margin: 0 auto;
  width: 1066px;
}
@media screen and (max-width: 992px) {
  .content {
    width: 100%;
  }
}
.footer_logo {
  padding: 15px 0;
}

@media screen and (max-width: 992px) {
  .logo_1 {
    margin-left: 0;
  }
}
.table-media {
  display: flex;
  justify-content: space-between;
}
.table {
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  /* left: 95px; */
  /* padding-left: 35px; */
}
.table ul {
  list-style: none;
}
.© {
  padding-top: 10px;
}
@media screen and (max-width: 992px) {
  .table {
    left: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .hide {
    display: flex;
    display: none;
  }
}
.hide,
.info-bar li {
  font-weight: 600;
}
.info-bar {
  margin-right: 80px;
}
span {
  font-weight: 600;
  color: rgb(160, 159, 159);
}

.fa {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  list-style: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-twitter {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-linkedin {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-instagram {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-youtube {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-pinterest {
  background: rgb(135, 139, 152);
  color: white;
}

@media screen and (max-width: 992px) {
  .table-media {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 992px) {
  .© {
  }
}
