@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER*/
.header {
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(241, 241, 243);
  justify-content: space-evenly;
}
.menu {
  width: 700px;
}
.menu_ul {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .menu_ul {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .menu_ul {
    display: flex;
    flex-direction: column;
  }
}

.menu_ul a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: rgb(134, 137, 150);
}
.menu_ul li {
  list-style: none;
}
#logo img {
  width: 130px;
}
.menu_ul a:hover {
  color: black;
}
/* NAV */
.main {
  width: 1066px;
  margin: 0 auto;
}
.nav {
  margin: 0 auto;
  /* width: 1066px; */
  display: flex;
  margin-top: 90px;
  justify-content: space-between;

  align-items: baseline;
}
.left {
  width: 30%;
}
.right {
  width: 30%;
}

@media screen and (max-width: 800px) {
  .nav {
    flex-direction: column;
  }
}

.left_ul {
  display: flex;
  list-style: none;

  justify-content: space-between;
}

.right_ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
#underline {
  text-decoration: underline;
  text-decoration-color: rgb(255, 208, 120);
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
  font-weight: bold;
  color: rgb(98, 103, 119);
}
.underline {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: rgb(98, 103, 119);
}
.currency {
  background-color: transparent;
  border-color: rgb(98, 103, 119);
  /* width: 90px; */
  height: 30px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0 0 0 7px rgba(247, 247, 247, 0.507);
}
.left_ul a:active {
  text-decoration: underline;
  text-decoration-color: rgb(255, 208, 120);
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}
.right_ul a:active {
  text-decoration: underline;
  text-decoration-color: rgb(255, 208, 120);
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}
/* MAIN */

.selects_div {
  margin: 0 auto;
  margin-top: 45px;
  width: 1066px;
  display: flex;
  flex-direction: column;

}
.colume {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 15px;
}
.big_div {
  display: flex;
}
.empty {
  width: 160px;
}

.colume select {
  appearance: none;
  outline: none;
}
.colume {
  position: relative;
}
.colume {cursor: pointer;}
.colume::after {
  content: "\25bc";
  position: absolute;
  left: 120px;
  bottom: 15px;
  color: grey;
  font-size: 12px;
}
.not_dhow::after{
  content: " ";
  display: none;
}

@media screen and (max-width: 1000px) {
  .selects_div {
    flex-direction: column;
  }
}
.label_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.selects_div label {
  font-size: 14px;
  color: rgb(98, 103, 119);
  font-weight: bold;
  margin-bottom: 8px;
  padding-top: 8px;
}
.selects_div select {
  width: 160px;
  height: 45px;
  border-radius: 50px;
  border-color: rgb(229, 229, 238);
  color: rgb(98, 103, 119);
  padding-left: 15px;
}
.selects_div input {
  width: 160px;
  height: 45px;
  border-radius: 50px;
  border-color: rgb(229, 229, 238);
  color: rgb(98, 103, 119);
  padding-left: 15px;
  box-shadow: 0 0 0 1px;
  border-width: 0px;
}
.code {
  border: 1px solid rgb(229, 229, 239);
  border-radius: 50px;
  width: 160px;
  height: 45px;
  line-height: 3;
  padding-left: 15px;
}
.price1 {
  opacity: 0.3;
}
.price2 {
  margin-top: 35px;
  opacity: 0.3;
}

.search_button {
  background-color: rgb(255, 208, 120);
  margin-top: 33px;
  border: 0px;
  width: 160px;
  height: 45px;
  border-radius: 50px;
}
.search_button:hover {
  transition: 0.7s;
  background-color: rgb(207, 150, 43);
}

.conteiner {
  margin: 0 auto;
  margin-top: 90px;

  display: flex;
  flex-direction: column;
}
.section {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px 5px rgb(245, 245, 245);
  border-radius: 8px;
  padding: 15px;
}
/* @media screen and (max-width: 1000px) {
  .section {
    flex-direction: column;
  }
} */
.first_pic {
  width: 50%;
  text-align: center;
}

.first_pic img {
  width: 450px;
  border-radius: 15px;
}

span {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  
}
span::after {
  content: "Yerevan/Center";
  font-size: 20;
  opacity: 0.5;
}

.text {
  width: 580px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.uls {
  display: flex;
  justify-content: space-between;
}
.small_button {
  margin-top: 70px;
}
.for_li {
  list-style: none;
  font-weight: 600;
}
.one {
  font-weight: bold;
  margin-bottom: 10px;
  
}
.two {
  font-weight: bold;
  margin-bottom: 10px;
}
.three {
  color: #33d185;
  font-weight: bold;
}
.fore {
  font-weight: bold;
  margin-bottom: 10px;
}
.fore::after {
  content: "RCEA3248";
  font-style: normal;
  opacity: 0.5;
}
.five {
  font-weight: bold;
}
.five::after {
  content: "14.06.2021";
  font-style: normal;
  opacity: 0.5;
}

li {
  font-size: 14px;
  font-weight: 500;
}
.rent_button {
  background-color: rgb(255, 208, 120);
  border: 0px;
  width: 85px;
  height: 45px;
  border-radius: 50px;
  /* margin-top: 90px;
  margin-left: -100px;
  margin-bottom: 60px; */
}
.rent_button:hover {
  transition: 0.7s;
  background-color: rgb(207, 150, 43);
}

i {
  font-style: normal;
  opacity: 0.5;
}
/* FOOTER */
.footer {
  width: 100%;
  height: 250px;
  background: rgb(241, 241, 243);
}
@media screen and (max-width: 992px) {
  .footer {
    width: 100%;
  }
}

.content {
  margin: 0 auto;
  width: 1066px;
}
@media screen and (max-width: 992px) {
  .content {
    width: 100%;
  }
}
.footer_logo {
  padding: 15px 0;
}

@media screen and (max-width: 992px) {
  .logo_1 {
    margin-left: 0;
  }
}
.table-media {
  display: flex;
  justify-content: space-between;
}
.table {
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  /* left: 95px; */
  /* padding-left: 35px; */
}
.table ul {
  list-style: none;
}
.© {
  padding-top: 10px;
}
@media screen and (max-width: 992px) {
  .table {
    left: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .hide {
    display: flex;
    display: none;
  }
}
.hide > li {
  font-weight: 600;
}
.info-bar > li {
  font-weight: 600;
}
.bold {
  font-weight: 600;
}

.info-bar {
  margin-right: 80px;
}
.grey {
  display: inline;
  font-weight: 600 !important;
  color: rgb(148, 146, 146);
}

.fa {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  list-style: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-twitter {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-linkedin {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-instagram {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-youtube {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-pinterest {
  background: rgb(135, 139, 152);
  color: white;
}

@media screen and (max-width: 992px) {
  .table-media {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 992px) {
}
