@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER*/
.header {
  margin: 0, auto;
  width: 1333px;
  height: 50px;
  display: flex;
  background-color: rgb(241, 241, 253);
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .header {
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .menu_bar {
    flex-direction: column;
  }
}
.logo img {
  height: 40px;
  width: 130px;
}
.menu {
  width: 600px;
  /* height: 100%;  */
}
.menu_bar {
  display: flex;
  list-style: none;

  justify-content: space-evenly;

  /* margin-left: 110px;  */
}

.link {
  text-decoration: none;
  color: rgb(116, 120, 134);
  font-weight: 900;
  font-size: 11px;
}

/* NAV */
.nav {
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}
.left {
  width: 30%;
}
.right {
  width: 30%;
  
}
@media screen and (max-width: 800px) {
  .nav {
    flex-direction: column;
  }
}

.left_ul {
  
  display: flex;
  list-style: none;

  justify-content: space-between;

  align-items:center ;
}

.right_ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;

}
#underline {
  text-decoration: underline;
  text-decoration-color: rgb(255, 208, 120);
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
  font-weight: bold;
  color: rgb(98, 103, 119);
  /* margin-right: 20px; */
}
.underline {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: rgb(98, 103, 119);
  margin-right: 20px;
}
.currency {
  background-color: transparent;
  border-color:rgb(98, 103, 119) ;
  width: 90px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0 0 0 10px rgba(247, 247, 247, 0.507);
}
.left_ul a:active {
  text-decoration: underline;
  text-decoration-color: rgb(255, 208, 120);
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}
.right_ul a:active {
  text-decoration: underline;
  text-decoration-color: rgb(255, 208, 120);
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}
/* MAIN */
/* First part */

.selects {
  /* position: relative; */
  margin: 0 auto;
  margin-top: 45px;
  width: 940px;
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
  /* padding-left: 135px; */
}
@media screen and (max-width: 1000px) {
  .selects {
    flex-direction: column;
  }
}
.label_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.selects label {
  font-size: 14px;
  color: rgb(98, 103, 119);
  font-weight: bold;
  margin-bottom: 8px;
  padding-top: 8px;
}
.selects select {
  width: 160px;
  height: 45px;
  border-radius: 50px;
  border-color: rgb(229, 229, 238);
  color: rgb(98, 103, 119);
  padding-left: 15px;
}
.selects input {
  width: 160px;
  height: 45px;
  border-radius: 50px;
  border-color: rgb(229, 229, 238);
  color: rgb(98, 103, 119);
  padding-left: 15px;
  box-shadow: 0 0 0 1px;
  border-width: 0px;
}
.code {
  border: 1px solid rgb(229, 229, 239);
  border-radius: 50px;
  width: 160px;
  height: 45px;
  line-height: 3;
  padding-left: 15px;
}
.price1 {
  opacity: 0.3;
}
.price2 {
  margin-top: 35px;
  opacity: 0.3;
}

.search_button {
  background-color: rgb(255, 208, 120);
  margin-top: 33px;
  border: 0px;
  width: 160px;
  height: 45px;
  border-radius: 50px;
}
.search_button:hover {
  transition: 0.7s;
  background-color: rgb(207, 150, 43);
}

/* Second part */
/* .main{
  display: fle;
  flex-direction: column;
  justify-content: space-around;
} */
.section {
  margin: 0 auto;
  width:940px ;
  /* height: 100vh; */
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */

  
}
.img {
  margin: 0,auto;
  width: 940px;
  padding: 15px;
  /* margin-left: 160px; */
  display: flex;
  justify-content:space-between;

  box-shadow: 0 0 5px 5px rgb(245, 245, 245);
  /* border: 1px solid rgb(245, 245, 245); */
  border-radius: 8px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1000px) {
  .img {
    flex-direction: column;
  }
}

.first_pic img {
  /* padding: 20px; */
  width: 450px;
  border-radius: 15px;
}

span {
  /* margin-left: 25px; */
  /* margin-top: 20px; */
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  /* margin-right: 6px; */
}
span::after{
  content: "Yerevan/Center";
  font-size: 20;
  opacity: 0.5;
}
h2 {
  font-size: 12;
  display: inline;
  font-weight: 500;
}
.text {
  width: 380px;
  
  /* height: 100%; */
  /* margin: px; */
}
.uls {
  /* width: 100%; */
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.for_li {
  list-style: none;
  font-weight: 600;
}
.one {
  font-weight: bold;
  margin-bottom: 10px;
  /* margin-right: 100px; */
}
.two {
  font-weight: bold;
  margin-bottom: 10px;
  /* margin-right: 100px; */
}
.three {
  color: #33d185;
  font-weight: bold;
}
.fore {
  font-weight: bold;
  margin-bottom: 10px;
}
.fore::after{
  content: "RCEA3248";
  font-style: normal;
  opacity: 0.5
}
.five {
  font-weight: bold;
}
.five::after{
  content: "14.06.2021";
  font-style: normal;
  opacity: 0.5
}

li {
  font-size: 14px;
  font-weight: 500;
}
.rent_button {
  background-color: rgb(255, 208, 120);
  border: 0px;
  width: 85px;
  height: 45px;
  border-radius: 50px;
  margin-top: 90px;
  margin-left: -100px;
  margin-bottom: 60px;
}
.rent_button:hover {
  transition: 0.7s;
  background-color: rgb(207, 150, 43);
}
.text {
  /* padding-top: 20px; */
  /* padding-right: 60px; */
}

i {
  font-style: normal;
  opacity: 0.5;
}
/* FOOTER */
.footer {
  /* margin: 0 auto; */
  /* width: 100%; */
  height: 350px;
  background: rgb(241, 241, 253);
}
.logo_1 {
  margin-left: 210px;
  margin-top: 80px;
  padding-top: 80px;
}

.pa {
  padding: 5px;
  margin-left: 10px;
  margin-top: 0px;
  word-spacing: 20px;
}

.uls_div {
  margin-left: 180px;
  font-size: 13px;
  width: 35%;
  display: flex;
  /* margin-left: 155px; */
  justify-content: space-around;
  align-items: center;
  /* margin-top: 20px;  */
}
.uls_div li{
  font-weight: bold;
}
.tel::after{
  content: " 37410530083";
  opacity: 0.7;
}
.mob::after{
  content: " 37477040446";
  opacity: 0.7;
}
.email::after{
  content: " info@elate.am";
  opacity: 0.7;
}
.first_ul,
.second_ul,
.thirth_ul {
  list-style: none;
  /* margin-top: 20px; */
  /* margin-right: 40px; */
}

.fa {
  padding: 10px;
  height: 100%;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  list-style: none;
  margin-left: px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-twitter {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-linkedin {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-instagram {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-youtube {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-pinterest {
  background: rgb(135, 139, 152);
  color: white;
}
.icon {
  text-align: end;
  margin-right: 150px;
  margin-top: -20px;
  /* padding-bottom: 350px; */
}
.© {
  margin-top: 15px;
  text-align: end;
  margin-right: -25px;
  /* word-spacing: 4px; */
}
