@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER*/

.header {
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(241, 241, 243);
  justify-content: space-evenly;
}
.menu {
  width: 700px;
}
.menu_ul {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .menu_ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}


.menu_ul a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: rgb(134, 137, 150);
}
.menu_ul li {
  list-style: none;
}
#logo img {
  width: 130px;
}
.menu_ul a:hover {
  color: black;
}

/* MAIN */
.main {
  width: 1066px;
  margin: 100px auto;
}
@media screen and (max-width: 992px) {
  .main{
    width: 100%;
  }  
  }
.topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addres {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
h1 {
  font-size: 30px;
  margin-bottom: 5px;
}
.streat_name::after {
  content: "  / RCEA3248";
  font-size: 15px;
  color: rgb(141, 141, 141);
}
.addres_info {
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.right_topic {
  font-size: 15px;
  font-weight: bold;
}
.green {
  margin-top: 15px;
  color: greenyellow;
}

.container {
  margin: 0 auto;
}
.for_imges {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.big_img_div img {
  width: 100%;
  border-radius: 15px;
}
@media screen and (max-width:992px){
  .big_img_div> img{
    padding: 0 5px;
  } 
  
}

.big_img_div {
  position: relative;
}
.big_img_div::before {
  content: url("../images/arrow.jpg");
  position: absolute;
  bottom: 280px;
  left: 20px;
}
.big_img_div::after {
  content: url("../images/arrow1.jpg");
  position: absolute;
  bottom: 280px;
  left: 1026px;
}
.big_img_div:hover:after{
  opacity:0.6;
}
.big_img_div:hover::before{
  opacity:0.6;
}
@media screen and (max-width:992px) {
  .big_img_div::before{
    content: url("../images/arrow1.jpg");
    display: none;
  }
  .big_img_div::after{
    content: url("../images/arrow1.jpg");
   display: none;
  }
}

.small_imges_div {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.img img {
  margin: 0 auto;
  width: calc(1006px / 5);
  border-radius: 10px;
}
@media screen and (max-width: 992px) {
  
  .img>img{
    width: 100%;
    
    padding: 0 3px;
  }
}
.selects {
  display: flex;
  margin: 20px 0px;

}
@media screen and (max-width:992px) {
  .map{
    padding:0 5px ;
  }
}

select {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: large;
  width: 70px;
}
#Select1{
  border-bottom: 3px solid rgb(255, 208, 120);
}
@media screen and (max-width: 992px) {
  .selects{
    padding-left: 10px ;
  }
  
}
.uls_border {
  display: flex;
  flex-direction: column;
}
.border {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
  padding: 60px;
  box-shadow: 0 0 10px 7px rgba(245, 245, 245);
}
.some {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width:992px) {
  .some{
    flex-direction: column;
    justify-content: space-around;
  }
  .small_div{
margin-top: 15px;

  }
.container{
  width: 100%;
}
.for_imges{
  width: 100%;
}

}
.uls {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.border h3 {
  margin-bottom: 15px;
}
.uls li {
  list-style: none;
  font-weight: bold;
  color: rgb(116, 120, 134);
  font-size: 14px;
}

.section {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.button_info {
  display: flex;
  justify-content: space-between;
  width: calc(1066px * 60 / 100);
}








/* Footer */
.footer {
  width: 100%;
  height: 250px;
  background: rgb(241, 241, 243);
}
@media screen and (max-width: 992px) {
  .footer {
    width: 100%;
  }
}

.content {
  margin: 0 auto;
  width: 1066px;
}
@media screen and (max-width: 992px) {
  .content {
    width: 100%;
  }
}
.footer_logo {
  padding: 15px 0;
}

@media screen and (max-width: 992px){
  .footer_logo{
    padding-left: 15px;
  }
}

@media screen and (max-width: 992px) {
  .logo_1 {
    margin-left: 0;
  }
}
.table-media {
  display: flex;
  justify-content: space-between;
}
.table {
  display: flex;
  justify-content: space-between;
}
.table ul {
  list-style: none;
}
h5 {
  line-height: 30px;
  font-weight: bold;
}
.© {
  padding-top: 10px;
  font-size: 11px;
}
@media screen and (max-width: 992px) {
  .table {
    left: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .hide {
    display: flex;
    display: none;
  }
}
.hide > li {
  font-weight: 600;
}
.info-bar > li {
  font-weight: 600;
}
.bold {
  font-weight: 600;
}

.info-bar {
  margin-right: 80px;
}
@media screen and (max-width: 992px) {
  .info-bar{
    padding-left: 20px;
  }
  
}
.grey {
  display: inline;
  font-weight: 600 !important;
  color: rgb(148, 146, 146);
}

.fa {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  list-style: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: rgb(135, 139, 152);
  color: white;
  width: 34px;
}
.fa-twitter {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-linkedin {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-instagram {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-youtube {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-pinterest {
  background: rgb(135, 139, 152);
  color: white;
}

@media screen and (max-width: 992px) {
  .table-media {
    justify-content: flex-start;
  }
}
