@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(241, 241, 243);
  justify-content: space-evenly;
}
.menu {
  width: 700px;
}
.menu_ul {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .menu_ul {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .menu_ul {
    display: flex;
    flex-direction: column;
  }
}

.menu_ul a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: rgb(134, 137, 150);
}
.menu_ul li {
  list-style: none;
}
#logo img {
  width: 130px;
}
.menu_ul a:hover {
  color: black;
}

/* Main */
.pic{
  width: 100%;
}
.pic img {
  max-width: 100%;
}
.container{
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section{
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 65px 0;
  
 
}
.info_ul{
  
  display: flex;
  justify-content:flex-start;
}

.info_ul >ul{
  list-style: none;

}
.bold{
  
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.not_bold{
  margin-left: 80px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: rgb(133, 133, 173);
}

h2{
  margin-bottom:15px ;
}


/* _______________________________________________ */

/* Footer */
.footer {
  width: 100%;
  height: 250px;
  background: rgb(241, 241, 243);
}
@media screen and (max-width: 992px) {
  .footer {
    width: 100%;
  }
}

.content {
  margin: 0 auto;
  width: 1066px;
}
@media screen and (max-width: 992px) {
  .content {
    width: 100%;
  }
}
.footer_logo {
  padding: 15px 0;
}

@media screen and (max-width: 992px) {
  .logo_1 {
    margin-left: 0;
  }
}
.table-media {
  display: flex;
  justify-content: space-between;
}
.table {
  display: flex;
  justify-content: space-between;
}
.table ul {
  list-style: none;
}
.© {
  padding-top: 10px;
}
@media screen and (max-width: 992px) {
  .table {
    left: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .hide {
    display: flex;
    display: none;
  }
}
.hide > li {
  font-weight: 600;
}
.info-bar > li {
  font-weight: 600;
}
.bold {
  font-weight: 600;
}

.info-bar {
  margin-right: 80px;
}
.grey {
  display: inline;
  font-weight: 600 !important;
  color: rgb(148, 146, 146);
}

.fa {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  list-style: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-twitter {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-linkedin {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-instagram {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-youtube {
  background: rgb(135, 139, 152);
  color: white;
}
.fa-pinterest {
  background: rgb(135, 139, 152);
  color: white;
}

@media screen and (max-width: 992px) {
  .table-media {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 992px) {
}
