@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER*/
.header {
  display: flex;
  background-color: rgb(241, 241, 253);
  justify-content:space-evenly;
}
.logo img {
  height: 100%;
}
.menu {
  width: 45%;
}
.menu_bar {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link {
  text-decoration: none;
  color: rgb(116, 120, 134);
  font-weight: 900;
  font-size: 11px;
}
/* NAV */
.nav {
  width: 100%;
  /* margin:0 auto; */
  padding-top: 90px;
  display: flex;
  height: 100%;
  justify-content: space-around;
  
}
.left {
  width: 25%;
  
  /* padding-left: 110px; */
}
.right {
  height: 100%;
  width:25%;
  
  
}
.left_ul {
  justify-content: space-evenly;
  display: flex;
  list-style: none;

}
.right_ul {
  display: flex;
  height: 100%;
  list-style: none;
  justify-content: space-around;
 
}
.left_ul a {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: rgb(98, 103, 119);
}
.right_ul a {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: rgb(98, 103, 119);
  
}

.currency {
  
   margin-top: -30px; /*??? */
  width: 90px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0 0 0 9px rgba(247, 247, 247, 0.507);
  
}
.left_ul a:active {
  text-decoration: underline;
  text-decoration-color: rgb(255, 208, 120);
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}
.right_ul a:active {
  text-decoration: underline;
  text-decoration-color: rgb(255, 208, 120);
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}
/* MAIN */
/* First part */
.selects {
  width: 75%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  /* padding-op: 45px;
  padding-left: 135px; */
  justify-content: space-evenly;
}
.selects p {
  font-size: 14px;
  color: rgb(98, 103, 119);
  font-weight: bold;
  margin-bottom: 8px;
  padding-top: 8px;
}
.selects select {
  width: 160px;
  height: 45px;
  border-radius: 50px;
  border-color: rgb(229, 229, 238);
  color: rgb(98, 103, 119);
  padding-left: 15px;
}
.selects input {
  width: 160px;
  height: 45px;
  border-radius: 50px;
  border-color: rgb(229, 229, 238);
  color: rgb(98, 103, 119);
  padding-left: 15px;
  box-shadow: 0 0 0 1px;
  border-width: 0px;
}
.code {
  border: 1px solid rgb(229, 229, 239);
  border-radius: 50px;
  width: 160px;
  height: 45px;
  line-height: 3;
  padding-left: 15px;
}
.price2 {
  
  margin-top: 35px;
  opacity: 0.3;
}
.price1 {
  opacity: 0.3;
}
.search_button {
  background-color: rgb(255, 208, 120);
  margin-top: 30px;
  border: 0px;
  width: 160px;
  height: 45px;
  border-radius: 50px;
}
.search_button:hover {
  transition: 0.7s;
  background-color: rgb(207, 150, 43);
}
/* Second part */

.border{

  width: 70%;
  height: 100%;
  margin: 0 auto;
  border: 8px solid rgb(161, 3, 3);
  display: flex;
  justify-content: space-around;
}
.img-div{
  display: flex;
}
.img-div img{
  width: 50%;
}
.text{
  width: 50%;
  display: flex;
}
.uls{
  list-style: none;
}